<form class="row mt-3"
      [formGroup]="form">

  <mat-form-field class="col-6">
    <mat-label>Drugie śniadanie</mat-label>
    <mat-select formControlName="drugieSniadanie">
      <mat-option *ngFor="let item of drugieSniadanieModel"
                  [value]="item.name">
        {{item.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

</form>

<div class="my-3">
  <button mat-raised-button
          color="zapisz"
          class="mr-4 ml-2"
          (click)="save()">
    zapisz
  </button>
  <button mat-raised-button
          color="resetuj"
          (click)="resetuj()">
    resetuj
  </button>
</div>
