.mat-expansion-panel-header {
  background-color: darkkhaki !important;
}

.mat-expansion-panel-header:hover {
  background-color: darkkhaki !important;
}

.mat-expansion-panel-body {
  background-color: aliceblue;
}

.mat-expansion-panel-body:hover {
  background-color: aliceblue;
}
