.mat-expansion-panel-header {
  // background-color: gainsboro;
  background-color: goldenrod;
}

.mat-expansion-panel-header:hover {
  // background-color: gainsboro;
  background-color: darkgoldenrod !important;
}

.mat-expansion-panel-body {
  // padding: 0 24px 16px;
  background-color: gold;
}
