.mat-expansion-panel-header {
  background-color: goldenrod;
}

.mat-expansion-panel-header:hover {
  background-color: darkgoldenrod !important;
}

.mat-expansion-panel-body {
  background-color: gold;
}
