.highlightTableColor {
  background-color: lightcyan;
}

mat-row {
  cursor: pointer;
}

mat-header-row {
  background-color: cadetblue;
  color: white;
}

h3 {
  margin-bottom: 30px;
  margin-left: 20px;
}

.mat-header-cell {
  color: black;
  font-size: 14px;
}

/* active tab */
::ng-deep .mat-tab-list {
  background-color: darkcyan;
}
