<!-- <mat-card>
  <mat-card-content>
    <section class="example-section">
      <mat-checkbox class="example-margin" (click)="isSecondBreakfastChange()">
        Drugie śniadanie
      </mat-checkbox>

      <mat-checkbox class="example-margin" (click)="isAfternoonSnackChange()">
        Podwieczorek
      </mat-checkbox>

      <div class="function-buttons">
        <button mat-button color="primary" (click)="exporter.exportTable('csv')">
          <mat-icon class="mat-24" aria-label="Example icon-button with a heart icon">
            print
          </mat-icon>
        </button>

        <button mat-button color="warn" (click)="openDialogZapisz()">
          <mat-icon class="mat-24" aria-label="Example icon-button with a heart icon">
            save
          </mat-icon>
        </button>

        <button mat-button color="warn" (click)="openDialogZapisaneDiety()">
          <mat-icon class="mat-24" aria-label="Example icon-button with a heart icon">
            backup
          </mat-icon>
        </button>
      </div>
    </section> -->

<!-- <button mat-button color="accent" (click)="print()"> -->
<!-- <button mat-button color="primary" (click)="exporter.exportTable('csv')">
      <mat-icon class="mat-24" aria-label="Example icon-button with a heart icon">
        print
      </mat-icon>
    </button>

    <button mat-button color="warn" (click)="openDialogZapisz()">
      <mat-icon class="mat-24" aria-label="Example icon-button with a heart icon">
        save
      </mat-icon>
    </button>

    <button mat-button color="warn" (click)="openDialogZapisaneDiety()">
      <mat-icon class="mat-24" aria-label="Example icon-button with a heart icon">
        backup
      </mat-icon>
    </button> -->

<!-- <button mat-button class="btn btn-dark mr-4" [disabled]="!selectedDzien" (click)="resetRow()">
      Resetuj wiersz
    </button>

    <button mat-button class="btn btn-dark" [disabled]="!selectedDzien" (click)="resetRow()">
      Resetuj Danie
    </button> -->


<!-- <button mat-button color="accent" (click)="downloadPdf()">
      <mat-icon class="mat-24" aria-label="Example icon-button with a heart icon">
        print 2
      </mat-icon>
    </button> -->

<!-- <button mat-button color="accent" (click)="exporter.exportTable('csv')">
      <mat-icon class="mat-24" aria-label="Example icon-button with a heart icon">
        print
      </mat-icon>
    </button> -->
<!-- <button mat-button color="primary" (click)="exporter.exportTable('txt')">
      <mat-icon class="mat-24" aria-label="Example icon-button with a heart icon">
        print
      </mat-icon>
    </button>

    <button mat-button color="warn" (click)="exporter.exportTable('xlsx')">
      <mat-icon class="mat-24" aria-label="Example icon-button with a heart icon">
        print
      </mat-icon>
    </button> -->


<!-- </mat-card-content>
</mat-card> -->
