<mat-accordion #accordion="matAccordion"
               class="jadlospis-content"
               [multi]="true">
  <mat-expansion-panel class="mx-3">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Dodaj produkt
      </mat-panel-title>
      <mat-panel-description>
        Opisz nowy produkt
      </mat-panel-description>

    </mat-expansion-panel-header>
    <app-dodawanie></app-dodawanie>
  </mat-expansion-panel>

  <mat-expansion-panel class="mx-3">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Edytuj produkt
      </mat-panel-title>
      <mat-panel-description>
        <span class="zmien"> Zmień </span> &nbsp;lub&nbsp; <span class="usun"> Usuń&nbsp; </span> składniki produktów
      </mat-panel-description>

    </mat-expansion-panel-header>
    <app-edytowanie></app-edytowanie>
  </mat-expansion-panel>

</mat-accordion>
