<h1 mat-dialog-title>Zapisz dietę</h1>
<div mat-dialog-content>
  <!-- <p>Zapisz Dietę</p> -->
  <mat-form-field [formGroup]="form">
    <mat-label>nazwa</mat-label>
    <input matInput [formControlName]="'name'">
  </mat-form-field>
</div>

<!-- <div [formGroup]="form" class="col-6">
  <input formControlName="name" matInput type="text" class="col-6" [placeholder]="'Wartość do zmiany'">
</div> -->
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Anuluj</button>
  <button mat-button (click)="onSave()">zapisz</button>
  <!-- <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button> -->
</div>
