<mat-card>
  <mat-card-content>
    <!-- <h2 class="example-h2">Checkbox configuration</h2> -->
    <section class="example-section"
      class="row justify-content-between">
      <div class="col-9">
        <mat-checkbox style="margin-left: 15px;"
          (click)="isSecondBreakfastChange()">
          <!-- [(ngModel)]="isSecondBreakfast" -->
          Drugie śniadanie
        </mat-checkbox>

        <mat-checkbox style="margin-left: 30px;"
          (click)="isAfternoonSnackChange()">
          <!-- [(ngModel)]="isAfternoonSnack" -->
          Podwieczorek
        </mat-checkbox>
      </div>
      <!-- <div class="col-auto"></div> -->

      <div class="function-buttons col-3 no-gutters">

        <mat-icon class="mat-24 icons-styles"
          matTooltip="Drukuj do EXCEL"
          color="primary"
          (click)="exporter.exportTable('xlsx', {fileName:'test', sheet: 'dieta', Props: {Author: 'KM'}})"
          aria-label="Example icon-button with a heart icon">
          print
        </mat-icon>

        <mat-icon class="mat-24 icons-styles"
          matTooltip="Zapisz dane"
          color="warn"
          (click)="openDialogZapisz()"
          aria-label="Example icon-button with a heart icon">
          save
        </mat-icon>

        <mat-icon class="mat-24 icons-styles"
          matTooltip="Załaduj dane"
          color="accent"
          (click)="openDialogZapisaneDiety()"
          aria-label="Example icon-button with a heart icon">
          backup
        </mat-icon>

      </div>
    </section>

    <button mat-button
      class="btn btn-dark mr-4"
      [disabled]="!selectedDania"
      (click)="resetRow()">
      Resetuj wiersz
    </button>

    <mat-form-field class="mx-4">
      <mat-label>Posiłek</mat-label>
      <mat-select [(ngModel)]="selectedResetDanieOption"
        name="dania">
        <mat-option *ngFor="let item of resetDanieOptions;"
          [value]="item.value">
          {{item.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-button
      class="btn btn-dark"
      [disabled]="!selectedDania || !selectedResetDanieOption"
      (click)="resetDanie()">
      Resetuj Danie
    </button>

  </mat-card-content>
</mat-card>


<div class="example-container mat-elevation-z8">
  <mat-table matTableExporter
    [dataSource]="dataSource"
    #exporter="matTableExporter"
    id="ExampleTable">

    <!-- Position Column -->
    <ng-container matColumnDef="dzien">
      <mat-header-cell *matHeaderCellDef> Dzień </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.dzien}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="sniadanie">
      <mat-header-cell *matHeaderCellDef> Śniadanie </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.sniadanie}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container *ngIf="isSecondBreakfast"
      matColumnDef="drugieSniadanie">
      <mat-header-cell *matHeaderCellDef> Drugie śniadanie </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.drugieSniadanie}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="obiad">
      <mat-header-cell *matHeaderCellDef> Obiad </mat-header-cell>
      <mat-cell class="my-2"
        *matCellDef="let element"> {{element.obiad}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container *ngIf="isAfternoonSnack"
      matColumnDef="podwieczorek">
      <mat-header-cell *matHeaderCellDef> Podwieczorek </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.podwieczorek}} </mat-cell>
    </ng-container>

    <!-- Kolacja Column -->
    <ng-container matColumnDef="kolacja">
      <mat-header-cell *matHeaderCellDef> Kolacja </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.kolacja}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
      [ngClass]="{hovered: row.hovered,
              highlightTableColor: selectedRowIndex == row.dzien}"
      (click)="rowSelected(row)"
      (mouseover)="row.hovered = true"
      (mouseout)="row.hovered = false">
    </mat-row>
  </mat-table>
</div>
