<div *ngIf="dataSource?.length > 0">

  <div class="example-container mat-elevation-z8">
    <mat-table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="dzien">
        <mat-header-cell *matHeaderCellDef> Dzień </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.dzien}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="sniadanie">
        <mat-header-cell *matHeaderCellDef> <span class="header"> {{rodzajDaniaOpis.SNIADANIE}} </span>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> <span class="value-content"> {{element.sniadanie}} </span> </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="drugieSniadanie">
        <mat-header-cell *matHeaderCellDef> <span class="header"> {{rodzajDaniaOpis.DRUGIE_SNIADANIE}} </span>
        </mat-header-cell><span class="header">{{rodzajDaniaOpis.KOLACJA}} </span>
        <mat-cell *matCellDef="let element"> <span class="value-content"> {{element.drugieSniadanie}} </span>
        </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="obiad">
        <mat-header-cell *matHeaderCellDef> <span class="header"> {{rodzajDaniaOpis.OBIAD}} </span> </mat-header-cell>
        <mat-cell *matCellDef="let element"> <span class="value-content"> {{element.obiad}} </span> </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="podwieczorek">
        <mat-header-cell *matHeaderCellDef> <span class="header"> {{rodzajDaniaOpis.PODWIECZOREK}} </span>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> <span class="value-content"> {{element.podwieczorek}} </span> </mat-cell>
      </ng-container>

      <!-- Kolacja Column -->
      <ng-container matColumnDef="kolacja">
        <mat-header-cell *matHeaderCellDef> <span class="header"> {{rodzajDaniaOpis.KOLACJA}} </span> </mat-header-cell>
        <mat-cell *matCellDef="let element"> <span class="value-content"> {{element.kolacja}} </span> </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"
               (mouseout)="row.hovered = false">
      </mat-row>
    </mat-table>
  </div>

</div>
