mat-row {
  cursor: pointer;
}

mat-header-row {
  background-color: cadetblue;
  color: white;
}

h3 {
  margin-bottom: 30px;
  margin-left: 20px;
}

.mat-header-cell {
  color: black;
  font-size: 14px;
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  border-bottom: grey 2px solid;
  border-left: grey 2px solid;
  border-right: grey 2px solid;
}

.mat-column-dzien {
  border-right: 1px solid grey;
  align-self: stretch;
  text-align: center;
  flex: 0 0 180px;
}

.mat-column-sniadanie {
  border-right: 1px solid grey;
  align-self: stretch;
  text-align: left;
}

.mat-column-drugieSniadanie {
  border-right: 1px solid grey;
  align-self: stretch;
  text-align: center;
}

.mat-column-obiad {
  border-right: 1px solid grey;
  align-self: stretch;
  text-align: center;
}

.mat-column-podwieczorek {
  border-right: 1px solid grey;
  align-self: stretch;
  text-align: center;
}

.header {
  margin-left: 20px;
}

.value-content {
  margin-left: 7px;
}
