<!-- <header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div><a href="https://www.javaguides.net"
         class="navbar-brand">JavaGuides</a></div>
    <ul class="navbar-nav navbar-collapse justify-content-end">
      <li>
        <a *ngIf="!isLoggedIn"
           class="nav-link"
           href="/login"
           (click)="handleLogin()">Login</a>
      </li>
      <li>
        <a *ngIf="isLoggedIn"
           class="nav-link"
           href="/logout"
           (click)=handleLogout()>Logout</a>
      </li>
    </ul>
  </nav>
</header> -->

<!-- <mat-toolbar color="primary"> -->
<mat-toolbar>
  <mat-toolbar-row class="d-flex">
    <h1 class="mr-4 navbar-brand navbar-header-content">Program do układania diet
    </h1>

    <div *ngIf="isLoggedIn"
         class="header">
      <a mat-button
         [routerLink]="'/jadlospis'">Jadlospis</a>
    </div>
    <div *ngIf="isLoggedIn"
         class="header">
      <a mat-button
         [routerLink]="'/dodaj-produkty'">Dodaj produkty</a>
    </div>

    <ul class="ml-auto navbar-nav">
      <li>
        <a *ngIf="!isLoggedIn"
           class="nav-link"
           href="/login"
           (click)="handleLogin()">Zaloguj</a>
      </li>
      <li>
        <a *ngIf="isLoggedIn"
           class="nav-link"
           href="/logout"
           (click)="handleLogout()">Wyloguj</a>
      </li>
    </ul>
  </mat-toolbar-row>
</mat-toolbar>

<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1 class="mr-4">Program do układania diet</h1>
    <span class="menu-spacer"></span>

    <div *ngIf="isLoggedIn"
         class="header">
      <a mat-button
         [routerLink]="'/jadlospis'">Jadlospis</a>
    </div>
    <div *ngIf="isLoggedIn"
         class="header">
      <a mat-button
         [routerLink]="'/dodaj-produkty'">Dodaj produkty</a>
    </div>

    <ul class="navbar-nav navbar-collapse justify-content-end">
      <li>
        <a *ngIf="!isLoggedIn"
           class="nav-link"
           href="/login"
           (click)="handleLogin()">Zaloguj</a>
      </li>
      <li>
        <a *ngIf="isLoggedIn"
           class="nav-link"
           href="/logout"
           (click)=handleLogout()>Wyloguj</a>
      </li>
    </ul>
  </mat-toolbar-row>
</mat-toolbar> -->

<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>

    <h1 class="mr-4">Program do układania diet</h1>
    <span class="menu-spacer"></span>

    <div *ngIf="isLoggedIn"
         class="header">
      <a mat-button
         [routerLink]="'/jadlospis'">Jadlospis</a>
    </div>
    <div *ngIf="isLoggedIn"
         class="header">
      <a mat-button
         [routerLink]="'/dodaj-produkty'">Dodaj produkty</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar> -->


<div>
  <router-outlet></router-outlet>
</div>
